# Projeto 3 - análise exploratória#
#### Antonio Fonseca, Daniel Pucciariello e José Bechara.####

## Tema:##
*Prever se um projeto do kickstarter irá ser bem sucedido ou não.*

Técnica: Classificador.

https://www.kaggle.com/kemical/kickstarter-projects

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats import probplot, norm, t
import seaborn as sns
%matplotlib inline

In [56]:
data = pd.read_csv('ks-projects-201801.csv', parse_dates=['deadline', 'launched'])
data1 = data.replace("canceled", "failed").replace("undefined", "failed").replace("suspended", "failed")
data2=data1.loc[:,["usd_pledged_real", "usd_goal_real"]]

In [66]:
print("DataFrame com categorias alteradas, de modo a ter somente 'live','failed','successful'.")
data1.head()

DataFrame com categorias alteradas, de modo a ter somente 'live','failed','successful'.

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,failed,14,US,1283.0,1283.0,19500.00

In [63]:
print("Comparacao entre o valor necessario ou o valor que se conseguiu")
data2.head()

Comparacao entre o valor necessario ou o valor que se conseguiu

   usd_pledged_real  usd_goal_real
0               0.0        1533.95
1            2421.0       30000.00
2             220.0       45000.00
3               1.0        5000.00
4            1283.0       19500.00

In [44]:
data.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [45]:
data.main_category.value_counts()

Film & Video    63585
Music           51918
Publishing      39874
Games           35231
Technology      32569
Design          30070
Art             28153
Food            24602
Fashion         22816
Theater         10913
Comics          10819
Photography     10779
Crafts           8809
Journalism       4755
Dance            3768
Name: main_category, dtype: int64

In [46]:
data1.state.value_counts()

failed        241906
successful    133956
live            2799
Name: state, dtype: int64

In [48]:
failed=data1.state.value_counts()[0]
sucessful=data1.state.value_counts()[1]
print("Número de projetos que falharam:", failed)
print("Número de projetos bem sucedidos:", sucessful)
print("Porcentagem de sucesso:", 100*sucessful/(failed + sucessful), "%")

Número de projetos que falharam: 241906
Número de projetos bem sucedidos: 133956
Porcentagem de sucesso: 35.639676264160784 %

In [7]:
colunas = list(data.columns)
colunas

['ID',
 'name',
 'category',
 'main_category',
 'currency',
 'deadline',
 'goal',
 'launched',
 'pledged',
 'state',
 'backers',
 'country',
 'usd pledged',
 'usd_pledged_real',
 'usd_goal_real']

In [49]:
crosstab1 = pd.crosstab(data.main_category,data.state,margins=True,rownames=['Main Category'], colnames=['state'])
crosstab1

state,canceled,failed,live,successful,suspended,undefined,All
Main Category,,,,,,,
Art,2222,14131,194,11510,96,0,28153
Comics,842,4036,76,5842,23,0,10819
Crafts,843,5703,76,2115,72,0,8809
Dance,163,1235,18,2338,13,1,3768
Design,4152,14814,305,10550,247,2,30070
Fashion,2650,14182,250,5593,138,3,22816
Film & Video,5755,32904,332,23623,117,854,63585
Food,2211,15969,184,6085,153,0,24602
Games,6202,16003,287,12518,220,1,35231
Journalism,523,3137,31,1012,52,0,4755
Music,3305,21752,281,24197,149,2234,51918
Photography,986,6384,48,3305,55,1,10779
Publishing,3602,23145,299,12300,66,462,39874
Technology,4715,20616,377,6434,424,3,32569
Theater,608,3708,41,6534,21,1,10913
All,38779,197719,2799,133956,1846,3562,378661

In [51]:
crosstab2 = pd.crosstab(data1.main_category,data1.state,margins=True,rownames=['Main Category'], colnames=['state'])
crosstab2

state          failed  live  successful     All
Main Category
Art             16449   194       11510   28153
Comics           4901    76        5842   10819
Crafts           6618    76        2115    8809
Dance            1412    18        2338    3768
Design          19215   305       10550   30070
Fashion         16973   250        5593   22816
Film & Video    39630   332       23623   63585
Food            18333   184        6085   24602
Games           22426   287       12518   35231
Journalism       3712    31        1012    4755
Music           27440   281       24197   51918
Photography      7426    48        3305   10779
Publishing      27275   299       12300   39874
Technology      25758   377        6434   32569
Theater          4338    41        6534   10913
All            241906  2799      133956  378661

In [52]:
data.plot.scatter(x="RENDA", y = "IDADE")

KeyError: 'RENDA'